
ion-avatar {
  width: 100px;
  height: 100px;
  // padding: 8px;
  // transform: scale(0.95);
}

ion-content{
  transform: scale(0.9);
}
ion-item{
  margin-left:10px;
}

ion-title{
color : rgb(225,30,180);
}
