
ion-avatar {
  width: 100px;
  height: 100px;
  // padding: 8px;
  // transform: scale(0.95);
}

ion-content{
  transform: scale(0.9);
}
ion-item{
  margin-left:10px;
}

ion-title{
  color: rgb(255,255,250);
// color : rgb(225,30,180);
}
ion-toolbar{
background-color: rgba(225,50,190,0.9);
  
}

ion-label{
font-family: 'Caveat', cursive;
  font-size: xx-large;
  color: rgb(20,40,200);
}
