
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
ion-avatar {
  width: 100px;
  height: 100px;
  // padding: 8px;
  // transform: scale(0.95);
}
// ion-avatar :hover {
//   transform: scale(1.2);
// }
img{

}
ion-title{
  font-family: 'Caveat', cursive;
  font-size: xx-large;
  color:rgb(156, 11, 40);
}
ion-item{
  margin-left:10px;
}
ion-item:hover{
  // transform: scale(1.1);
}
